body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    /* background-color: aliceblue; */
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.box {
    height: 100px;
    padding: 10px;
    background-color: aqua;
    border: 1px solid #000;
}

.row-header {
    display: flex;
    height: 84px;
    align-items: center;
}

.col-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 47px;
}

.header-logo {
    width: 122px;
    display: block;
}
.header-logo-img {
    width: 100%;
}

.header-menu {
    display: flex;
    gap: 32px;
}
.header-menu-item {
    font-size: 16px;
    font-weight: 600;
    color: #394149;
    text-decoration: none;
}

.primary-button {
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    font-size: 16px;
    border: 0;
    color: rgba(245, 138, 7, 1);
    padding: 19px 30px;
    font-weight: 600;
    cursor: pointer;
}
.primary-button:hover {
    background-color: rgba(245, 138, 7, 0.3);
}

.hero-section {
    background-color: rgba(220, 234, 245, 1);
}
.row_header {
    display: flex;
    align-items: center;
    gap: 53px;
}
.logo-ipsum {
    display: flex;
    gap: 48px;
}

.header-title{
    color: #1d3444;
    font-size: 64px;
    letter-spacing: -3px;
    font-weight: 600;
    line-height: 72px;}
    position: absolute;
    width: 576px;
    height: 144px;
left: 320px;
top:201px;


.header-button{

}
.col-text {
    width: 55%;
}

.man-image {
    width: 45%;
}
.content{
   
    font-weight: 500;
    Size: 18px;
    line-height: 30px;
    color : #5b5b5b;
    line-height : 30px;} 
    
    position: absolute;
    width: 571px;
    height: 60px;
    left: 321px;
    top: 357px;
    
 

.man-image img {
    display: block;
}
.medeenuud {display: flex;}
.col1-text {width: 735px;

           }
 .header          

